<h1>message</h1>

{{#each paragraphs}}
<p>{{this}}</p>
{{else}}
<p class="text">Hello, {{userName}} has been greeted {{CounterName}} times</p>

{{/each}}
<a class="return" href="/greeted">more lists</a>
