<h1>message</h1>

{{#each paragraphs}}
<p>{{this}}</p>
{{else}}

{{/each}}
<p class="text">Hello, {{userName}} has been greeted {{count}} times</p>

{{!-- <a class="return" href="/greeted">more lists</a> --}}
<div><button class="Bttn" type="submit" ><a  href="/greeted">Greeted Names</a></button>
</div>
