<h1>message</h1>

{{#each paragraphs}}
<p>{{this}}</p>
{{else}}
<p class="text">Hello, {{userName}} has been greeted {{CounterName}} times</p>

{{/each}}
<div><button class="Bttn" type="submit" ><a  href="/greeted">Greeted Names</a></button>
</div>
